# -*- coding: utf-8 -*-
#寄件者
me = "me@example.test"

#收件者需使用串列。
you = ['user1@example.test','user2@example.test']

#要切換的工作目錄，即是Git Source目錄
path = "/dlaravel/sites/ccc"

#郵件主機設定
mail_host = "mail.example.test"
mail_port = 25
mail_username = "admin"
mail_password = "admin"
